.container {

    width: 100vw;
    height: max-content;
    display: flex;

}

.leftContainer {
    width: 50vw;
}

.rightContainer {
    width: 50vw;
}

.section {
    width: 100vw;
    /* flex-wrap: wrap; */
}