/* Card.css */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover img {
    transform: scale(1.05);
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    max-width: 65%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
}

.card_content {
    padding: 1%;
}

.card h2 {
    font-size: 90%;
    margin: 0;
}

.card p {
    font-size: 1rem;
    color: #555;
    margin: .5% 0;
}