/* counter */
.pageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.section {
    text-align: center;

}


/* counter */
.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

.sections img {
    width: 25%;
    height: auto;
}

.sections p {
    font-size: 110%;
    color: #f757a5;
    margin: 10px 0;

}

.number,
.sections span {
    font-size: 120%;
    font-weight: bold;
    color: #f757a5;
}


/* Footer.module.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    flex-wrap: wrap;
}

@media(max-width : 850px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .section:last-child {
        grid-column: 2 / span 2;
    }
}
@media(max-width : 500px) {
    .section:last-child {
        grid-column: initial;
    }
    .footer{
        grid-template-columns: 1fr;
    }
}

.section {
    flex: 1;
    margin-right: 20px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    color: rgb(194, 193, 193);
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

p {
    color: rgb(194, 193, 193);
}

.newsletterForm {
    display: flex;
    margin-top: 20px;
}

.newsletterForm input {
    padding: 10px;
    flex: 1;
}

.go {
    background-color: #f757a5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.appDownload {
    margin-top: 20px;
}


@media screen and (max-width: 768px) {

    .newsletterForm {
        flex-direction: column;

    }

    .newsletterForm input {
        margin-bottom: 10px;
    }


}

@media screen and (max-width: 550px) {

    /* counter section */
    .sections img {
        width: 33%;
        height: auto;
    }

    .sections p {
        font-size: 100%;
        margin: 10px 0;

    }

    .number,
    .sections span {
        font-size: 100%;
    }
}