.more {
    /* border: 1px solid black !important; */
    border-radius: 5px;
    margin: auto;
    background-color: #f0f0f0;
    width: 100vw;
    padding-top: 3%;
}

.more div {
    padding: 2% 3%;
}

.more p {
    opacity: .8;
}


.details {
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.active {
    background-color: #F757A5;
    color: white;
    /* font-weight: bold; */
    border: 1px solid rgb(247, 92, 118) !important;
}

.btn button {
    padding: 1%;
    border: none;
    border-radius: 2px;
    margin: .02%;
}

.btn button:hover {
    border-bottom: 2px solid #F757A5;
}