.TopNavbar {
    background-color: #f4f2f2;
    text-align: center;

    /* make navbar things center of the display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding from left right */
    padding: 0.3rem 1rem;
    /* width: 100vw; */
    height: 4rem;
}

/* logo */
.logo {
    width: 2.5rem;
    height: auto;
    margin: 0 0.5rem;
}

/* search Bar styles */

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 0.3rem;
}
@media(min-width : 851px) {
    .searchContainer {
        width: 50% !important;
    }
}

.searchInputContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.search_img_visibility {
    width: 1.5rem !important;
    cursor: pointer;
}

.search_icon {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-radius: 100%;
    cursor: pointer;
}
.search_icon:hover {
    background-color: rgb(225, 225, 247);
}
.arrow_icon{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.6rem;
    border-radius: 100%;
    margin-left: 0.3rem;
    cursor: pointer;
}
.arrow_icon:hover {
    background-color: rgb(225, 225, 247);
}

.search_img {
    width: 40%;
    height: auto;
}

.searchInput {
    font-size: 1em;
    outline: none;
    border: 0.01rem solid gray;
    padding: 1rem;
    padding-right: 1rem;
    border-radius: 30rem 0 0 30rem;
    width: 100%;
}

.searchInput:focus {
    border-color: rgb(172, 172, 247);
    box-shadow: 1px 0px 1px 1px rgb(166, 166, 255);
}

.searchButton {
    color: #000000;
    border: 0.01rem solid gray;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    width: 5rem;
    background-color: rgb(235, 235, 252);
    border-radius: 0 30rem 30rem 0;
}

.searchButton:hover {
    background-color: rgb(225, 225, 247);
    color: white;
}

a {
    text-decoration: none;
}

.buttonContainer {
    display: flex;
}

.toggleIcon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media(max-Width : 850px) {
    .searchContainer {
        width: initial;
        margin: 0% 1% 0% 2%;
    }
}

@media(max-width : 600px) {
    .logo {
        width: 2rem;
    }
    .buttonContainer {
        display: initial;
        position: absolute;
        top: 4.6rem;
        left: 0;
        background-color: blueviolet;
        height: calc(100vh - 4.6rem);
        z-index: 100;
        width: 14.5rem;
        max-width: 100vw;
    }
    .toggleIcon {
        display: flex;
        align-items: center;
        position: absolute;
        left: 2rem;
    }
    .TopNavbar {
        justify-content: end;
    }
    .logo {
        position: absolute;
        left: 5rem;
    }
    .searchContainer {
        position: absolute;
        top: 4rem;
        width: 90%;
    }
    .searchArea {
        height: 2.5rem;
        background-color: #f4f2f2;
    }
    .searchInput {
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 0.6rem;
    }
    .searchButton {
        border-radius: 0 0.5rem 0.5rem 0;
    }
    .modifiedbuttonContainer {
        top: 7.1rem;
        height: calc(100vh - 7.1rem);
    }
}