.page {
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.content {
    width: 90%;
    /* Set the width to 50% for the right half */
    padding: 20px;
}



.addToCartBtn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

.sizeOptions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sizeOptions button {
    margin: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.sizeOptions button:hover {
    border: 2px solid black;
}

/* Price styling */
.price {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.rs {
    padding: 2%;
    font-size: large;
    font-weight: bold;
}

.mrp {
    padding: 1%;
    opacity: 0.4;
    text-decoration: line-through;
}

.save {
    border: 2px solid green;
    padding: 2%;
    background-color: greenyellow;
    border-radius: 10px;
}

/* slider Container */
.sliderContainer {
    width: 44vw;
    border: 2px solid #f757a5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.slider {
    /* margin: auto; */
}

.premium p {
    text-align: center;
    color: white;
}

.premium {
    background-color: #f757a5;
    /* border-radius: 10px; */
    font-weight: 500;
    font-size: larger;
}


/* price Tag */
.card_price {
    display: inline-block;

    width: auto;
    height: 20px;

    background-color: #f757a5;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;

    border-left: 1px solid #f757a5;

    /* This makes room for the triangle */
    margin-left: 10px;
    line-height: 20px;
    position: relative;

    color: white;
    font-weight: 300;
    font-size: 90%;

    padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card_price:before {
    content: "";
    position: absolute;
    display: block;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f757a5;
}

/* Makes the circle */
.card_price:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -6px;
    top: 8px;
}