/* Premium slider */
.slide {
    height: 20vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider {
    height: 20vh;
}

.img {
    width: 25%;
    height: 100%;
    float: left;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* display: inline-block; */
    width: 70%;
    margin-top: 10%;

}

.text p {
    text-wrap: wrap;

}

.offer {
    margin: 0;
    font-size: larger;
    font-weight: 500;
}

.validity {
    margin: 0;
    opacity: 0.5;
}

.slideNo {
    position: absolute;
    top: 3%;
    right: 3%;
}

@media (max-width:500px) {
    .text p {
        font-size: small;
    }

    .img {
        width: 25%;
    }
}